@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body {
    background-color: #F2F8FF;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: 'Plus Jakarta Sans', sans-serif !important;
}

p {
    font-size: 16px;
    color: #323232;
    line-height: 24px;
}

a {
    text-decoration: none;
    font-size: 16px;
}

li {
    list-style: none;
}

ul {
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.container {
    max-width: 1166px;
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;
}

.main-btn {
    border-radius: 3px;
    background: #0F5132;
    border: 0;
    padding: 5px 30px;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 192px;
}

.search-btn {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    max-width: 98px;
    min-height: 30px;
}

.font-26 {
    color: #0F5132;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 30px;
}

.main-dashboard {
    padding: 0 30px;
    margin: 10px 15px;
}

.search-form-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-form-box input {
    border-radius: 3px;
    border: 1px solid #A5A7AD;
    padding: 3px 14px;
    background-color: transparent;
    color: #A5A7AD;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-right: 18px;
    position: relative;
    appearance: none;
    width: 100%;
    max-width: 177px;
}

.search-form-box input#calender::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.search-form-box input:after {
    content: '';
    background-image: url(../images/calender-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 14px;
    height: 15px;
    background-size: cover;
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translate(0, -50%);
}

.search-form-box input#calender:before {
    content: '';
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    right: 38px;
    bottom: 0;
    background: #A5A7AD;
}

.income-section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 20px;
}

.income-section .earn-box {
    border-radius: 4px;
    box-shadow: 0px 0px 20px 0px rgba(1, 119, 251, 0.10);
    padding: 47px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.income-section .total-sales {
    justify-content: space-between;
}

.income-section .total-categories {
    background-color: #FFF3CD;
}

.income-section .total-products {
    background-color: #CFF4FC;
}

.income-section .total-sales {
    background-color: #F8D7DA;
}

.income-section .earn-box h3 {
    color: #842029;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.income-section .earn-box h1 {
    color: #842029;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 19px;
}

.income-section .earn-box .heading-main {
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-bottom: 9px;
}

.earn-box.total-categories .heading-main .search-form-box input {
    margin-right: 23px;
}

.income-section .total-categories .heading-main,
.income-section .total-categories p {
    color: #664D03;
}

.income-section .total-products .heading-main,
.income-section .total-products p {
    color: #055160;
}

.income-section .earn-box p {
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.recent-sale {
    padding-top: 30px;
}

.recent-sales {
    width: 100%;
    text-align: left;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(1, 119, 251, 0.10);
    padding: 30px 30px 49px 30px;
}

.recent-sales table {
    width: 100%;
    border-collapse: collapse;
}

.recent-sales {
    margin-top: 30px;
}

.recent-sales table td {
    color: #4B5C70;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.28px;
    padding: 20px 0 15px 0;
    border-bottom: #F6F8FC 1px solid;
}

.recent-sales table .heading th {
    color: #A3AED0;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.28px;
    padding-bottom: 6px;
    border-bottom: 1px solid #E9EDF7;
}

.file-upload-btn {
    color: #A7A2A2;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.28px;
    width: 100%;
    border: 0;
    border-radius: 2px;
    background: #F2F8FF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.06) inset;
    text-align: left;
    padding: 13px 21px;
    cursor: pointer;
}

.file-upload-content {
    display: none;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    margin-bottom: 20px;
    position: relative;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #555;
    padding: 60px 0;
    margin: 0;
}

.file-upload-image {
    max-height: 300px;
    max-width: 300px;
    border-radius: 11px;
    display: block;
}

.drag-text {
    min-height: 300px;
    max-width: 300px;
    z-index: 9;
    position: relative;
    border-radius: 11px;
    background: #2F815A;
    display: flex;
    align-items: center;
}

.drag-text h2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #FFF;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;
}


/* 
.upload-img++label {
    background: transparent;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    outline: none;
    position: relative;
    vertical-align: middle;
    width: 100%;
    padding: 8px 20px;
    background-image: url(../img/upload-img.png);
    background-repeat: no-repeat;
    background-position: 96%;
    text-align: left;
} */

.upload-img {
    max-width: 343px;
    position: relative;
    cursor: pointer;
    margin-top: 20px;
}

.upload-img img {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    padding: 15px;
    border-left: 1px solid #DEDEDE;
    pointer-events: none;
    cursor: pointer;
}

.input-heading {
    color: #666;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.28px;
    margin-bottom: 11px;
}

.main-input-container {
    padding-top: 30px;
}

.main-input-container .input__field {
    margin-bottom: 20px;
}

.main-input-container .input__field input,
.main-input-container .input__field select {
    border-radius: 2px;
    background: #F2F8FF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.06) inset;
    width: 100%;
    border: 0;
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.28px;
    min-height: 50px;
    padding: 12px 21px;
}

.main-input-container .input__field select {
    cursor: pointer;
    appearance: none;
    position: relative;
    background-image: url(../images/select-icon.svg);
    background-repeat: no-repeat;
    background-position: 98%;
}

.category-form {
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(1, 119, 251, 0.10);
    padding: 30px;
}

.main-input-container .input__field:last-child {
    margin-bottom: 0;
}

.add-category .main-btn {
    margin-top: 50px;
}

.action-btns a {
    border: 0;
    background-color: transparent;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.28px;
    margin-right: 10px;
    cursor: pointer;
}

.action-btns a:last-child {
    margin-right: 0;
}

.Edit-btn {
    color: #34A853;
}

.Delete-btn {
    color: #D61930;
}

.View-btn {
    color: #0F5132;
}

.input-search-box-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.input-search-box-container .font-26 {
    margin-bottom: 0;
}

.input-search-box-container input {
    border-radius: 2px;
    background: #F2F8FF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.06) inset;
    border: 0;
    color: #A3AED0;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.28px;
    padding: 6px 16px;
    width: 100%;
    max-width: 196px;
}

.categories_edit .drag-text img {
    border-radius: 11px;
}

.categories_edit .drag-text img {
    width: 100%;
}

.single-categories-text:last-child {
    margin-bottom: 0;
}

.single-categories-text {
    color: #666;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.28px;
    margin-bottom: 20px;
}

.Categories_View .user_image-block {
    display: flex;
    align-items: flex-start;
}

.Categories_View .file-upload {
    margin-right: 103px;
}

.Categories_View .main-btn {
    margin: 113px auto 0 auto;
}

.single-categories-text span {
    margin-left: 4px;
}

.back-btn {
    background-color: transparent;
    color: #4B5C70;
    border: 1px solid #4B5C70;
}

.categories_edit .drag-text {
    background-color: transparent;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input__field_main_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
}

.main-input-container .input__field textarea {
    border-radius: 2px;
    background: #F2F8FF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.06) inset;
    width: 100%;
    border: 0;
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.28px;
    min-height: 50px;
    padding: 12px 21px;
    height: 100px;
    resize: none;
}

.main-input-container .input__field:last-child {
    margin-bottom: 20px;
}

.profile-details button.main-btn {
    margin-top: 30px;
}

.change-password .font-26 {
    margin-bottom: 5px;
}

.report-overview .submit_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.report-overview .submit_section .search-form-box {
    margin-bottom: 0;
}

.report-overview .submit_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.report-overview .submit_section .main-btn {
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    min-height: 30px;
    max-width: 126px;
    padding: 4px;
}

.hidden {
    display: none;
}

.tab.text-green-600 {
    border-radius: 2px;
    background: #F2F8FF;
    color: #666;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    margin-right: 15px;
    cursor: pointer;
}

.tabs {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.nav-sidebar .nav-link p {
    color: #fff !important;
}
.layout-fixed .main-sidebar {
    background-color: #0F5132 !IMPORTANT;
}
.nav-sidebar .nav-link p {
    margin-left: 13px !IMPORTANT;
}
.nav-sidebar .nav-item>.nav-link {
    background-color: transparent !important;
}
[class*=sidebar-dark] .brand-link {
    border: 0 !important;
    padding-bottom: 0 !important;
    margin-bottom: 32px !important;
}
.nav-sidebar .nav-item>.nav-link:hover svg path {
    stroke: #FFDF81;
    fill: #FFDF81;
}
.nav-sidebar .nav-item>.nav-link:hover svg circle{
  stroke: #FFDF81;
}
.nav-sidebar .nav-item>.nav-link:hover p {
    color: #FFDF81 !important;
}

.tabs {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.tabs__tab-btn .tabs__tab--hide {
    display: none;
}

.tabs__tab--show {
    display: block;
}

.tabs__buttons--container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.tabs__tab-btn {
    cursor: pointer;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    display: flex;
    height: 50px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 0;
    border-radius: 2px;
    background: #0F5132;
    margin-right: 15px;
}

.tabs__tab-btn--not-selected {
    background: #F2F8FF;
    color: #666;
}
/* --------------------MEDIA-START-------------------- */

@media(max-width: 989px) {
    .income-section .earn-box {
        padding: 36px 20px;
    }
    .total-sales-icon img {
        max-width: 80px;
    }
    .income-section .earn-box h1 {
        font-size: 26px;
        margin-top: 10px;
    }
    .income-section .earn-box h3 {
        font-size: 22px;
    }
    .income-section .earn-box .heading-main {
        font-size: 36px;
    }
    .income-section .earn-box p {
        font-size: 16px;
    }
    .recent-sales {
        padding: 20px 20px 28px 20px;
    }
    .income-section {
        grid-gap: 20px;
        grid-template-columns: 1fr;
    }
    .main-dashboard {
        padding: 0 20px;
    }
  .main-tabs {
        overflow-x: scroll;
    }
    .tabs__buttons--container {
        width: 1030px;
    }
}

@media(max-width: 749px) {
    .report-overview .submit_section {
        display: block;
    }
    .report-overview .submit_section .date {
        margin-bottom: 20px;
    }
    .recent-sales table {
        width: 510px;
    }
    .main-table {
        overflow-x: scroll;
    }
    .income-section .earn-box {
        display: block;
        text-align: center;
    }
    .income-section .earn-box .eraning-right {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    .income-section .earn-box {
        padding: 26px 10px;
    }
    .main-dashboard {
        padding: 0;
        margin: 10px 15px;
    }
    .search-form-box {
        display: block;
    }
    .font-26 {
        font-size: 22px;
        margin-bottom: 20px;
    }
    .drag-text h2 {
        font-size: 20px;
    }
    .category-form {
        padding: 20px;
    }
    .main-input-container {
        padding-top: 20px;
    }
    .drag-text {
        min-height: 200px;
        max-width: 200px;
    }
    .main-input-container .input__field select {
        background-position: 92%;
    }
    .input-search-box-container {
        margin-bottom: 20px;
    }
    .Categories_View .file-upload {
        margin: 0 0 20px 0;
    }
    .Categories_View .user_image-block {
        display: block;
    }
    .single-categories-text {
        margin-bottom: 10px;
    }
    .Categories_View .main-btn {
        margin: 30px auto 0 auto;
    }
    .product-list .recent-sales table {
        width: 860px;
    }
    .main-input-container .input__field textarea {
        height: 60px;
    }
    .input__field_main_box {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
    .profile-details button.main-btn {
        margin-top: 10px;
    }
}

@media(max-width: 480px) {
    .search-form-box input {
        max-width: 100%;
        margin: 0 0 10px;
    }
    .main-btn {
        min-height: 40px;
        font-size: 14px;
        width: 120px;
    }
    .input-search-box-container {
        display: block;
    }
    .input-search-box-container .font-26 {
        margin-bottom: 12px;
    }
    .tabs__buttons--container {
    width: 900px;
}
.tabs__tab-btn {
    font-size: 14px;
    height: 44px;
}
}


/* --------------------MEDIA-END-------------------- */

.input-search-box-container input::-webkit-input-placeholder {
    opacity: 1;
    color: #A3AED0 !important;
}

.input-search-box-container input::-moz-placeholder {
    opacity: 1;
    color: #A3AED0 !important;
}

.input-search-box-container input:-ms-input-placeholder {
    opacity: 1;
    color: #A3AED0 !important;
}

.input-search-box-container input:-moz-placeholder {
    opacity: 1;
    color: #A3AED0 !important;
}

.main-input-container .input__field input::-webkit-input-placeholder {
    opacity: 1;
    color: #666 !important;
}

.main-input-container .input__field input::-moz-placeholder {
    opacity: 1;
    color: #666 !important;
}

.main-input-container .input__field input:-ms-input-placeholder {
    opacity: 1;
    color: #666 !important;
}

.main-input-container .input__field input:-moz-placeholder {
    opacity: 1;
    color: #666 !important;
}